@import "tailwindcss";

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none !important;
}

/* Custom Theme Classes */
body {
  font-family: 'Poppins', sans-serif;
}
.bg-background {
  background-color: #ffffff; 
}
.bg-background-header {
  background-color: rgb(245 245 245 / 1); 
}
.bg-menu {
  background-color: rgb(190, 168, 155);
}
.bg-footer {
  background-color: rgb(170, 134, 134);
}
.bg-buttons {
  background: linear-gradient(135deg, #c19a9a 0%, #7f5a5a 100%);
  transition: all 0.3s ease;
}

.hover-bg-buttons:hover {
  background: linear-gradient(135deg, #a87b7b 0%, #6e4b4b 100%);
  transform: translateY(-1px);
}

.bg-background-card {
  background-color: rgb(253, 247, 247); 
}
.text-foreground {
  color: rgba(15, 23, 42, 0.753);
}
.text-foreground-secondary {
  color: white;
}
.text-heading {
  color: black;
}
.text-highlighted {
  color: rgb(248, 113, 113);
}
.hover-text-highlighted:hover {
  color: rgb(185, 14, 14);
}
.bg-image {
 background-color: rgb(243, 244, 246);
}
.bg-line {
 background-color: rgb(200,200,200); 
}
.border-color {
  border: 1px solid rgb(206, 210, 216);
}
.border-bottom {
  border-bottom: 1px solid rgb(206, 210, 216);;
}
.bg-hover-color:hover {
  background-color: rgb(198, 202, 211); 
}
.bg-overlay {
  background-color: rgb(0 0 0 / 0.4);
}
.text-reviews {
  color: rgb(234, 179, 8);
}

/* Dark Mode */
.dark .bg-background {
  background-color: rgba(1, 14, 43, 0.623);
}
.dark .bg-background-header {
  background-color: rgba(15, 23, 42, 0.623);
}

.dark .bg-background-card {
  background-color: rgba(218, 221, 230, 0.623);
}
.dark .text-foreground {
  color: rgb(255, 255, 255);
}
.dark .text-heading {
  color: white;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}


.marquee-wrapper {
  overflow: hidden;
  width: 100%;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.marquee-track span {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
}
.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
