@import "tailwindcss";

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none !important;
}

/* Custom Theme Classes */
body {
  font-family: 'Poppins', sans-serif;
}
.bg-background {
  background-color: rgb(245, 245, 245); /* Light mode default */
}
.bg-background-header {
  background-color: rgb(245 245 245 / 1); /* Light mode default */
}
.bg-menu-buttons {
  background-color: rgb(170, 134, 134);
}

.bg-background-card {
  background-color: rgb(245, 245, 245); /* Light mode default */
}
.text-foreground {
  color: rgba(15, 23, 42, 0.753); /* Light mode default */
}
.bg-line {
 background-color: rgb(200,200,200); 
}
.text-highlighted {
  color: rgb(248, 113, 113);
}

/* Dark Mode */
.dark .bg-background {
  background-color: rgba(1, 14, 43, 0.623);
}
.dark .bg-background-header {
  background-color: rgba(15, 23, 42, 0.623);
}

.dark .bg-background-card {
  background-color: rgba(218, 221, 230, 0.623);
}
.dark .text-foreground {
  color: rgb(255, 255, 255);
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
/* marquee Swiper */
@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
 25% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  } 
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}
